{% extends 'core/base.html' %}

{%block scripts%}
    {{block.super}}
    <script>
        $(document).ready(function() {
            
        });

    </script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
    .row {
        width:100%;
        margin:0px;
    }
    .no-bullet {
        list-style-type: none; 
    }
    </style>
{%endblock styles%}

{% block career_nav_active %}active{%endblock career_nav_active%}

{%block content%}
    <div class="row">
        <div class="col-10">
            <div class="card main-card" style="margin-right:0px">
                <div class="card-header center">
                    Career
                </div>
                <div class="card-body">
                    <div class="center">
                        <h5 style="font-family:Roboto-Bold">Software Developer and Data Manager</h5>
                        <a>Abingdon School</a>  
                        <br>
                        <a>September 2020 - Ongoing</a>  
                        <br>
                        <a>Reference: NA</a>  
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <p style="font-family:Roboto-Bold">Brief role description</p>
                            <p>
                                I am a full-stack software developer working for Abingdon School. My primary responsibility is 
                                designing and deploying new web systems for various departments within the school - both for internal use and for parent/pupil use.
                            </p>

                            <p>
                               For a large portion of my career I have been a solo developer responsible for maintaining existing web system created by my predecessors on top of creating new systems.
                               Seeing how these existing systems excelled and fell short taught me a huge amount about software development and maintainability. 
                            </p>

                            <p>
                               In the summer of 2021, we temporarily hired some talented final-year students for summer development work before they started at university. 
                               My responsibilities expanded to include teaching them about our existing systems and our standard practices, along with more general software engineering skills. 
                               This experience was enjoyable as teaching new developers is a passion of mine and further prepared me to take on another graduate developer in September 2021.
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <a style="font-family:Roboto-Bold">Technologies I use at Abingdon School</a>
                            <ul>
                                <li> Front-End
                                    <ul>
                                        <li>HTML</li>
                                        <li>Javascript</li>
                                        <li>Bootstrap</li>
                                        <li>Jquery</li>
                                        <li>CSS</li>
                                        <li><a href="https://formio.github.io/formio.js/" target="_blank">Form.io</a></li>
                                    </ul>
                                </li>
                                <li> Back-End
                                    <ul>
                                        <li>Django</li>
                                        <li><a href="http://viewflow.io/" target="_blank">Viewflow</a></li>
                                        <li>SQL</li>
                                        <li>PostgreSQL</li>
                                        <li>Various APIs (e.g iSAMS, Ciphr, Google social, Google Sheets, Adyen, Payit™)</li>
                                    </ul>
                                </li> 
                                <li> DevOps and Server
                                    <ul>
                                        <li>Proxmox</li>
                                        <li>Gunicorn</li>
                                        <li>Apache</li>
                                        <li>Nginx</li>
                                        <li>Cron</li>
                                        <li>Debian 9/10</li>
                                    </ul>
                                </li> 
                                <li> Online Payments
                                    <ul>
                                        <li><a href="https://www.adyen.com/" target="_blank">Adyen</a></li>
                                        <li><a href="https://www.business.natwest.com/business/business-services/payit.html" target="_blank">Payit™ by NatWest</a></li>
                                    </ul>
                                </li> 
                                <li> Software I regularly use
                                    <ul>
                                        <li>Visual Studio Code</li>
                                        <li>WSL2 + Debian</li>
                                        <li>Keypass</li>
                                        <li>JetBrains DataGrip</li>
                                        <li>Ditto clipboard manager</li>
                                    </ul>
                                </li> 
                            </ul>
                        </div>
                        <div class="col-6">
                            <a style="font-family:Roboto-Bold">Skills demonstrated regularly</a>
                            <ul>
                                <li>Independantly driven working
                                    <ul>
                                        <li>Remote Work</li>
                                        <li>Large Solo Projects</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Team based project work
                                    <ul>
                                        <li>Large collaborative Web Systems (MyAbingdon)</li>
                                        <li>Teaching non-developers to script in Python</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Project requirement gathering
                                    <ul>
                                        <li>Rapidly gathering requirements for large scale projects in a short time scale through in-person and remote meetings</li>
                                        <li>Ongoing requirement gathering throughout a project</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Project planning
                                    <ul>
                                        <li>Planning a large project using gathered requirements with a Kanban approach</li>
                                        <li>Designing wireframes and initial project structure to demonstrate to clients, allowing further requirements to be gathered</li>
                                    </ul>
                                </li>
                                <br>
                                <li>Rapid response scripting and project maintenance
                                    <ul>
                                        <li>Responding to cyber security threats</li>
                                        <li>Taking quick measures to protect the sensitive information we hold on individuals at the school</li>
                                    </ul>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2" >
            <div class="card main-card">
                <div class="card-header center">
                    Education
                </div>
                <div class="card-body">
                    <div >
                        <h5 style="font-family:Roboto-Bold">Applied Software Engineering</h5>
                        <a>Cardiff University</a>  
                        <br>
                        <a>01/09/2017 - 01/06/2020</a>  
                        
                    </div>
                    <br>
                    <div class="row">
                        <div style="text-align:left;">
                            <ul>
                                <li class="no-bullet"><a style="font-family:Roboto-Bold;">Year 3</a></li>
                                <li>Emerging Technologies</li>
                                <li>Adopting Technology</li>
                                <li>Commercial Frameworks</li>
                                <li>Languages and Tools</li>
                                <li>Managing Change</li>
                                <li>Large Team Project</li>
                            </ul>
                            
                            <ul>
                                <li class="no-bullet"><a style="font-family:Roboto-Bold">Year 2</a></li>
                                <li>Commercial Applications With Java</li>
                                <li>Database Systems</li>
                                <li>Agile Project Management</li>
                                <li>DevOps</li>
                                <li>Performance and Scalability</li>
                                <li>Cyber Security</li>
                            </ul>
                            
                            <ul>
                                <li class="no-bullet"><a style="font-family:Roboto-Bold">Year 1</a></li>
                                <li>Introduction to Web Development</li>
                                <li>Computational Thinking</li>
                                <li>Fundamentals of Computing with Java</li>
                                <li>Mobile Development with Android</li>
                                <li>Software Development Skills 1</li>
                                <li>Software Development Skills 2</li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <div >
                        <h5 style="font-family:Roboto-Bold">GCE A-Level</h5>
                        <a>Torquay Boys Grammar School (Sixth Form)</a>  
                        <br>
                        <a>September 2014 - September 2016</a>  
                    </div>
                    <div class="row">
                        <div style="text-align:left;">
                            <ul>
                                <li>Systems and Design (B)</li>
                                <li>Maths (B)</li>
                                <li>Computing (C)</li>
                            </ul>
                        </div>
                    </div>
                    <div >
                        <h5 style="font-family:Roboto-Bold">GCSE</h5>
                        <a>Torquay Boys Grammar School</a>  
                        <br>
                        <a>September 2012 – June 2014</a>  
                        <br>
                          
                    </div>
                    <div class="row">
                        <div style="text-align:left;">
                            <ul>
                                <li><a>12 GCSEs A* to C</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}