{% extends 'core/base.html' %}

{%block scripts%}
    {{block.super}}
    <script>
        $(document).ready(function() {
            
        });

    </script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
    .row {
        width:100%;
        margin:0px;
    }
    .no-bullet {
        list-style-type: none; 
    }
    </style>
{%endblock styles%}

{% block enquiries_nav_active %}active{%endblock enquiries_nav_active%}

{%block content%}
    <div class="layout-margin-custom">
        <div class="row"> 
            <div class="col-sm p-1" style="max-width: calc((2vh+1vw)*12);">
                <div class="card main-card">
                    <div class="card-header center">
                        Contact
                    </div>
                    <div class="card-body">
                        <p>
                            <b>Email</b>
                            <br>
                            jobiewinser@live.co.uk                        
                        </p>                    
                    </div>
                </div>
                <div class="card main-card">
                    <div class="card-header center">
                        Pricing
                    </div>
                    <div class="card-body">
                        <p>
                            <b>Dependant on project scope</b>  
                            <br>
                            I'm a solo developer in my free time. I don't have a set price and will offer competitive pricing                    
                        </p>                    
                    </div>
                </div>
            </div>
            <div class="col-sm p-1">
                <div class="card main-card" style="margin-right:0px">
                    <div class="card-header center">
                        What can I create for you?
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm p-1">
                                <p>
                                    In short, there aren't many technical problems I can't solve, and a quick discussion with me detailing your desired system will clear up any roadblocks that I may encounter (e.g you want something that can't technically be accomplished).
                                </p>
                                <p>
                                    I welcome small clients who haven't gone through the development process before to enquire about my services, and can brief you on the whole process. 
                                </p>
                                <p>
                                    My skills lend themselves to many different problems. I can design, develop and deploy web systems with a specification delivered by my clients rapidly and flexibly. 
                                </p>
                                <p>
                                    I have experience with hosting services on AWS and will happily discuss the steps in designing, developing and deploying a web system.
                                </p>
                                <p>
                                    My usual focus is on functionality and productivity. I tend to be less focused on website design. If you want a simple attractive website, there are plenty of online services that will achieve that.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm p-1" style="min-width: calc((2vh+1vw)*12);">
                <div class="card main-card" style="margin-right:0px">
                    <div class="card-header center">
                        Who should Enquire?
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm p-1">
                                <p>
                                    Anybody. Send me an email, briefing me on what you want to achieve with a web system and I'll get back to you. 
                                </p>
                                <p>
                                    Pending an email discussion on the basic goals of the project, a further video call will help to define the features you require.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}