{% extends 'core/base.html' %}

{%block scripts%}
    {{block.super}}
    <script>
        $(document).ready(function() {
            $("#technologysearch").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $('div[data-searchable="true"]').filter(function() {
                    $(this).toggle($(this).find('h5').text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
        /*!
        Customs CSS stylesheet
        */

        .layout-margin-8 {
            margin: 3% 8%;
        }

        .filter-card-img-top-custom {
            width: 50%;
            margin: 0 auto;
        }

        .filter-card-title {
            text-align: center;
        }

        .filter-card-shadow {
            -webkit-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
            -moz-box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
            box-shadow: 0px 0px 28px 14px rgba(232,232,232,1);
        }

        .filter-card-deck {
            display: flex;
            justify-content: space-around;
            flex-flow: row wrap;
            align-items: stretch;
        }

        .filter-card {
            padding: 3% 1.5%;
            border: none;
            max-width: 375px;
            flex-grow: 1;
        }

        @media (min-width: 768px) {
            .filter-form-control {
            width: 500px !important;
            height: 50px;
            }
        }

        .bg-blue {
            background-color: #005EB8;
        }
    </style>
{%endblock styles%}

{%block card_header%}
    <a style="font-family:Roboto-Bold">Buzzword Bingo</a>
    <input class="filter-form-control mr-sm-2" type="search" placeholder="Type a name" aria-label="Search" id="technologysearch">
{%endblock card_header%}

{%block card_body%}
    <div class="layout-margin-8 mt-5">
        <div class="row">
            {%for technology in technologies%}
                <div class="col-lg-4 pb-4" id="technology-{{technology.pk}}" data-searchable="true">
                    <div class="card filter-card h-100">
                        <a href="/recipes/1}"><img class="card-img-top " src="//placehold.it/400x200"></a>
                        <div class="card-body">
                            <h5 class="filter-card-title"><a href="/recipes/1">{{technology.name}}</a></h5>
                            <p class="card-text">
                                <span>{{technology.type}}</span>
                            </p>
                        </div>
                        <div class="card-footer text-muted text-truncate">
                            <span class="badge badge-secondary">tag</span>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
{%endblock card_body%}