{% extends 'core/base.html' %}

{%block scripts%}
    {{block.super}}
    <script>
        $(document).ready(function() {
            $("#technologysearch").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $('div[data-searchable="true"]').filter(function() {
                    $(this).toggle($(this).find('.searchable-text').text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
        

    .filter-card {
        max-width: 375px;
    }
    </style>
{%endblock styles%}

{% block home_nav_active %}active{%endblock home_nav_active%}


{%block content%}
    <div class="row">
        <div class="col center" >
        </div>
        <div class="col center" >
            <a style="font-family:Roboto-Bold">Buzzword Search</a>
            <input class="filter-form-control form-control mr-sm-2 center" type="search" placeholder="Enter a Language, Technology or Project" aria-label="Search" id="technologysearch" >
        </div>
        <div class="col center" >
        </div>
        {% comment %} <div class="col">
        </div> {% endcomment %}
    </div>
    <div class="layout-margin-8 mt-5">
        <div class="row">
            {%for technology in technologies%}
                <div class="col-sm pb-3" style="max-width:347.982px" id="technology-{{technology.pk}}" data-searchable="true">
                    <div class="card filter-card h-100">
                        <div style="height:100px">
                            <a href="{% url 'projects' technology_id=technology.pk %}"><img class="img-top" src="media/{{technology.image}}"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="filter-card-title searchable-text"><a href="{% url 'projects' technology_id=technology.pk %}">{{technology.name}} {% if request.user.is_superuser %} <a href="/admin/core/technology/{{technology.pk}}/change/" target="_blank" style="color:green"><i class="fas fa-edit"></i> Edit</a> {% endif %}</a></h5> 
                            <p class="card-text">
                                {% if technology.project_set.all %}
                                    <span>Projects:</span><br>
                                    <ul>
                                        {% for project in technology.project_set.all %}
                                            <li> 
                                                <a href="{% url 'project' project_id=project.pk %}" class="searchable-text">{{project.name}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer text-muted text-truncate">
                            {% for language in technology.language.all %}
                                <a href="{% url 'projects' language_id=language.pk %}"><span class="badge badge-primary searchable-text">{{language.name}}</span></a>
                            {% endfor %}
                            {% for type in technology.type.all %}
                                <span class="badge badge-secondary searchable-text">{{type.name}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {%endfor%}
            {% if request.user.is_superuser %}
                <div class="col-sm pb-3" id="technology-{{technology.pk}}" data-searchable="true">
                    <div class="card filter-card h-100">
                        <div class="card-body">
                            <h5 class="filter-card-title searchable-text"><a href="/admin/core/technology/add/" target="_blank" style="color:green"><i class="fas fa-plus-circle"></i> Add</a></h5>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{%endblock content%}