{% extends 'core/base.html' %}

{%block scripts%}
    {{block.super}}
    <script>
        $(document).ready(function() {
            
        });
        document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages;    

            if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function(entries, observer) {
                entries.forEach(function(entry) {
                    if (entry.isIntersecting) {
                    var image = entry.target;
                    image.src = image.dataset.src;
                    image.classList.remove("lazy");
                    imageObserver.unobserve(image);
                    }
                });
                });

                lazyloadImages.forEach(function(image) {
                imageObserver.observe(image);
                });
            } else {  
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".lazy");
                
                function lazyload () {
                if(lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }    

                lazyloadThrottleTimeout = setTimeout(function() {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function(img) {
                        if(img.offsetTop < (window.innerHeight + scrollTop)) {
                        img.src = img.dataset.src;
                        img.classList.remove('lazy');
                        }
                    });
                    if(lazyloadImages.length == 0) { 
                    document.removeEventListener("scroll", lazyload);
                    window.removeEventListener("resize", lazyload);
                    window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
            }
            })

    </script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
        .image-card {
            margin:0px;
            padding:0px;
        }

        .image-card-body {
            margin:0px;
            padding:0px;
        }

        .image-modal-dialog {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .image-modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 10px;
            background: #d3d3d3;
        }

        .modal-backdrop {
            background-color: rgba(0,0,0,1) !important;
        }

        .image-modal-dialog {
            max-width: none;
        }

        #image-modal {
            padding:20px 40px 20px 40px;
            margin: auto;

        }

        .card-img-top{
            height:auto;
            width:100%;
            min-width:720px
        }

        .projectimage {
            min-height:500px
        }

        .container{
            width:100%;
            padding:0px;
            margin:0px;
            max-width:none;
        }
    </style>
{%endblock styles%}

{% block projects_nav_active %}active{%endblock projects_nav_active%}

{%block content%}
    <div class="modal fade" id="image-modal">
        <div class="modal-dialog image-modal-dialog">
            <div class="modal-content image-modal-content">
                <div class="modal-body"> 
                    <div style="text-align:center" class="row">
                        <div class="col-2" >
                        </div>
                        <div class="col" >
                            <form id="download-link" action="#">
                                <input class="btn btn-primary" type="submit" value="Download Image" />
                            </form>
                        </div>
                        <div class="col-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right:10px">
                                <span style="font-size:calc((2vh+1vw))" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="container">
                                <img id="image-modal-image" class="card-img-top" src="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col alert alert-light m-3" style="color:black" role="alert">
                            <span id="image-modal-description"></span>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card main-card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    Project - <span style="font-family:Roboto-Bold">{{project.name}}</span>
                </div>
                <div class="col" style="text-align:right">
                    <a href="/projects">Back to Project List</a>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            {{project.htmldescription|safe}}
        </div>
    </div>
    
    <hr>

    <div class="card main-card">
        <div class="row">
            {%for projectimage in project.projectimage_set.all%}
                <div class="col-sm projectimage" id="projectimage-{{projectimage.pk}}" data-searchable="true">
                    <div class="card image-card filter-card" style="">
                        <div class="card-body image-card-body" style="min-width:400px">
                            <img loading="lazy" type="button" onclick="$('#image-modal-image').prop('src', '/media/{{projectimage.image}}'); $('#download-link').prop('action', '/project/image/{{projectimage.pk}}'); $('#image-modal-description').html('{{projectimage.htmldescription|escapejs}}');" data-toggle="modal" data-target="#image-modal" class="card-img-top lazy" data-src="/media/{{projectimage.image}}">
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
{%endblock content%}