{% extends 'core/base.html' %}

{%block scripts%}
    {{block.super}}
    <script>
        $(document).ready(function() {
            $('img[data-enlargeable]').addClass('img-enlargeable').click(function() {
                var src = $(this).attr('src');
                var modal;
              
                function removeModal() {
                  modal.remove();
                  $('body').off('keyup.modal-close');
                }
                modal = $('<div>').css({
                  background: 'RGBA(0,0,0,.5) url(' + src + ') no-repeat center',
                  backgroundSize: 'contain',
                  width: '100%',
                  height: '100%',
                  position: 'fixed',
                  zIndex: '10000',
                  top: '0',
                  left: '0',
                  cursor: 'zoom-out'
                }).click(function() {
                  removeModal();
                }).appendTo('body');
                //handling ESC
                $('body').on('keyup.modal-close', function(e) {
                  if (e.key === 'Escape') {
                    removeModal();
                  }
                });
              });
        });

    </script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>

        .image-modal-dialog {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .image-modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 10px;
            background: #d3d3d3;
        }

        .modal-backdrop {
            background-color: rgba(0,0,0,1) !important;
        }

        .image-modal-dialog {
            max-width: none;
        }

        #image-modal {
            padding:20px 40px 20px 40px;
            margin: auto;

        }

        .card-img-top{
        }

        .projectimage {
        }

        .container{
            width:100%;
            padding:0px;
            margin:0px;
            max-width:none;
        }
    </style>
{%endblock styles%}

{% block projects_nav_active %}active{%endblock projects_nav_active%}

{%block content%}
    <div class="layout-margin-custom">
        <div class="row">    
            <div class="col">    
                <div class="card main-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col pl-0">
                                Project - <span style="font-family:Roboto-Bold">{{project.name}}</span>                        
                                {% if request.user.is_superuser %}
                                    <a href="/admin/core/project/{{project.pk}}/change/" target="_blank" style="color:green" class="nowrap"> <i class="fas fa-edit"></i> Edit</a>
                                {% endif %}
                            </div>
                            <div class="col" style="text-align:right">
                                <a href="/projects">Back to Project List</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        {{project.htmldescription|safe}} 
                    </div>
                </div>
            </div>
        </div>
        <br>
        {%if project.projectimage_set.all%}
        <div class="row">     
            <div class="col">    
                <div class="card main-card">
                    <div class="row">
                        {%for projectimage in project.projectimage_set.all%}
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                            <div class="bg-white rounded shadow-sm projectimage">
                                <img src="/media/{{projectimage.image}}" id="projectimage-{{projectimage.pk}}"style="cursor: zoom-in" data-enlargeable alt="" class="img-fluid card-img-top">
                              <div class="p-4">
                                <p class="small text-muted mb-0">{{projectimage.htmldescription|safe}}</p>
                                  <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i></p>
                                  <a href="/project/image/{{projectimage.pk}}" class="badge badge-primary px-3 rounded-pill font-weight-normal">Download</a>
                                  {% if request.user.is_superuser %}
                                      <a href="/admin/core/projectimage/{{projectimage.pk}}/change/" target="_blank" class="badge badge-primary px-3 rounded-pill font-weight-normal">Edit</a>
                                  {% endif %}
                              </div>
                            </div>
                          </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
        {%else%}
        <div class="row">     
            <div class="col m-3">    
                No Screenshots
            </div>
        </div>
        {%endif%}
    </div>
{%endblock content%}