{% extends 'core/base.html' %}

{%block scripts%}
    {{block.super}}
    <script>
        $(document).ready(function() {
        });

    </script>
{%endblock scripts%}

{%block styles%}
    {{block.super}}
    <style>
        .one-line {
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
{%endblock styles%}

{% block projects_nav_active %}active{%endblock projects_nav_active%}

{%block content%}
    <div class="card main-card">
        <div class="card-header">
            Projects
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col" class="one-line">Name</th>
                    <th scope="col" class="one-line">Technologies that I used{% if filter_type == 'Technology' %} - <a href="/projects/"><i style="font-size:12px">Clear Filter: {{filter_parameter}}</i></a>{% endif %}</th>
                    <th scope="col" class="one-line">Languages{% if filter_type == 'Language' %} - <a href="/projects/"><i style="font-size:12px">Clear Filter: {{filter_parameter}}</i></a>{% endif %}</th>
                    <th scope="col" class="one-line">Duration</th>
                    <th scope="col" class="one-line">My role</th>
                    <th scope="col" class="one-line">Team size</th>
                    <th scope="col" class="one-line">Brief</th>
                    </tr>
                </thead>
                <tbody>
                    {%if projectlist %}
                        {%for project in projectlist%}
                            <tr>
                                <td class="one-line">
                                    <a href="/project/{{project.pk}}">{{project.name}}</a>
                                    {% if request.user.is_superuser %}
                                        <a href="/admin/core/project/{{project.pk}}/change/" target="_blank" style="color:green"><i class="fas fa-edit"></i> Edit</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {%for technology in project.technology.all %}
                                        {% if not forloop.first %}, {% endif %}<a href="/projects/technology={{technology.pk}}">{{technology.name}}</a>
                                    {%endfor%}
                                </td>
                                <td>
                                    {%for technology in project.technology.all %} 
                                        {%for language in technology.language.all %} 
                                            {% if not forloop.parentloop.first %}, {% endif %}<a href="/projects/language={{language.pk}}">{{language.name}}</a>
                                        {%endfor%}
                                    {%endfor%}
                                </td>
                                <td class="one-line">
                                    {{ project.start|timesince:project.end }} {%if not project.end%}<i>(Ongoing)</i>{% endif %}
                                </td>
                                <td>{{project.role}}</td>
                                <td>{{project.teamsize }}</td>
                                <td>{{project.shorthtmldescription|safe}}</td>
                            </tr>
                        {%endfor%}
                        {% if request.user.is_superuser %}
                            <tr><td colspan="7" class="center"><a href="/admin/core/project/add/" target="_blank" style="color:green">  <i class="fas fa-plus-circle"></i> Add</a></td></tr>
                        {% endif %}
                    {% else %}
                        <tr><td colspan="7" class="center">No Projects {% if filter_type %} for <span style="font-family:Roboto-Bold">{{filter_type}} = {{filter_parameter}}</span> {%endif%} <a href="/admin/core/project/add/" target="_blank" style="color:green">  <i class="fas fa-plus-circle"></i> Add</a></td></tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock content%}